* {
    padding: 0%;
    margin: 0%;
    border-radius: 0%;
}

html {
    scroll-behavior: smooth;
}

/* banner */
#bannner {
    margin-top: 2%;
}

.all-item-line {
    display: flex;
    gap: 5%;

    position: absolute;
    top: 105%;
    left: 25%;

    justify-content: center;
    align-items: center;

}


.banner-item-persons {
    display: flex;
    align-items: center;
    background: rgb(231, 231, 231);
    border-bottom: 4px solid #1dd100;
    padding: 1%;
    border-radius: 10px;

}

/* section two */
.best-offer {
    text-align: center;
    margin-top: 15%;
    font-size: 40px;
    font-weight: 700;
}

.offer-one {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-color: #ffbf0f;
    padding: 0 10px;
    border-radius: 15px;
    height: 50%;
    width: 30%;


}

.offer-text h1 {
    font-weight: 700;
    font-size: 25px;
}

.offer-text p {
    font-weight: 600;

}

.offer-two {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-color: #F78C9C;
    height: 50%;
    width: 30%;

    border-radius: 15px;


}

.cupon-devider {

    height: 100%;
}

.offer-parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

/* section 3 */
.grid-2-1 {
    display: grid;
    grid-template-columns: 50% 50%;

}

.buyTicketOnline-one {
    border-right: 7px dotted rgb(117, 114, 115);
    padding-right: 20px;
}

.section-three {
    background-color: #f7f8f8;
    border-radius: 15px;
    border-top: 5px solid palegreen;
    margin-top: 10%;
}

.full-ticket-service-div {
    display: flex;
    justify-content: center;
    gap: 10%;
    background-color: white;
    padding: 5%;

}

.ticket-name {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.busName {
    display: flex;
    gap: 10px;
}

.sets {
    display: flex;
    gap: 10%;
}

.route {
    display: flex;
    gap: 29%;
}

.depratare {
    display: flex;
    gap: 24%;
}

.route-btn>button {
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 8px;

}

.route-div {
    background-color: #f7f8f8;

    padding: 10px;
}

.sets-img {

    border: none;
    padding: 5px;
}

/* seat pal */
#hr {
    border: 2px dashed black;
}

button {
    position: relative;
    right: 83px;

}

/* footer */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: 030712;
    margin-top: 5%;
}

.footer-icon {
    display: flex;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
}

.link-google-play {
    text-decoration: none;
    color: white;

}

.hr-footer {
    border: 1px white dashed;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%
}

.footer-parent {
    background-color: black;
}