* {
    padding: 0%;
    margin: 0%;
    border-radius: 0%;
}

/* nav bar */
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
}

.middle-ul {
    display: flex;
    justify-content: space-between;

    align-items: center;
    list-style: none;
    gap: 10%;
}

.bus-icon-name img {
    max-width: 30px;
    color: palegreen;
}

.bus-icon-name a {
    text-align: center;
    gap: 20px;
    border: 1px solid palegreen;
    padding: 10px;
    border-radius: 10px;

}

.bus-icon-name a {
    color: palegreen;
    text-decoration: none;
    font-weight: 700;
    margin-right: 10px;
}

/* section-one */
.banner {
    background-image: url(./images/banner.png);
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    margin-top: 4%;
    margin-left: 10%;
    width: fit-content;
}

.banner-first-name {
    font-size: 64px;
    color: white;
    font-weight: 700;
    position: relative;
    top: 50px;
}

.banner p {
    max-width: fit-content;
}

.banner button {
    padding: 1%;
    background-color: #1dd100;
    border: none;
    border-radius: 10px;
    position: relative;

    top: 10px;

}

.all-item-line {
    display: flex;
    gap: 2%;
}


.banner-item-persons {
    display: flex;
    align-items: center;
    background: rgb(231, 231, 231);
    border-bottom: 4px solid #1dd100;
    padding: 1%;
    border-radius: 10px;
}

/* section two */
.offer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-color: #ffbf0f;
    /* padding: 2%; */
    border-radius: 15px;
    /* height: 40%; */
    max-width: 50%;

}

.cupon-devider {
    /* position: relative;
    right: 10%; */
    height: 100%;
}

.offer-parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* section 3 */
.section-three {
    background-color: #f7f8f8;
    border-radius: 15px;
    border-top: 5px solid palegreen;
    margin-top: 10%;
}

.full-ticket-service-div {
    display: flex;
    justify-content: center;
    gap: 10%;
    background-color: white;
    padding: 5%;

}

.ticket-name {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.busName {
    display: flex;
    gap: 10px;
}

.sets {
    display: flex;
    gap: 10%;
}

.route {
    display: flex;
    gap: 29%;
}

.depratare {
    display: flex;
    gap: 24%;
}

.route-btn>button {
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 8px;

}

.route-div {
    background-color: #f7f8f8;
    /* max-width: 40%; */
    padding: 10px;
}

.sets-img {
    align-items: center;
    justify-content: center;
    border: none;
    padding: 5px;
}

/* footer */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: black;
    margin-top: 5%;
}

.footer-icon {
    display: flex;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
}

.link-google-play {
    text-decoration: none;
    color: white;

}

.hr-footer {
    border: 1px white dashed;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%
}

.footer-parent {
    background-color: black;
}